@font-face {
  font-family: satoshiR;
  src: url('../../fonts/Satoshi-Regular.ttf') format('ttf');
  src: url('../../fonts/Satoshi-Regular.woff') format('woff');
  src: url('../../fonts/Satoshi-Regular.eot') format('eot');
  src: url('../../fonts/Satoshi-Regular.woff2') format('woff2');
}

@font-face {
  font-family: satoshiB;
  src: url('../../fonts/Satoshi-Bold.ttf') format('ttf');
  src: url('../../fonts/Satoshi-Bold.woff') format('woff');
  src: url('../../fonts/Satoshi-Bold.eot') format('eot');
  src: url('../../fonts/Satoshi-Bold.woff2') format('woff2');
}
@font-face {
  font-family: satoshiM;
  src: url('../../fonts/Satoshi-Medium.ttf') format('ttf');
  src: url('../../fonts/Satoshi-Medium.woff') format('woff');
  src: url('../../fonts/Satoshi-Medium.eot') format('eot');
  src: url('../../fonts/Satoshi-Medium.woff2') format('woff2');
}

html {  
  background-color: #151212 !important;

}
body {
  font-family: satoshiR;
}

/* Utilities */

.satoshiB {
  font-family: satoshiB !important;
}
.satoshiR {
  font-family: satoshiR !important;
}
.satoshiM {
  font-family: satoshiM !important;
}
.center {
  @apply flex flex-row justify-center items-center;
}

.navigation-circle {
  width: max-content;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #8B6914;
  font-size: 12px;
  border: 1px solid #C09745;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-button:hover {
  background-color: #CFB159 !important;
  border: 1px solid #C09745 !important;
}

.AltLoader::before {
  content: '';
  height: 100%;
  width: 100%;
  background-color: rgb(5, 5, 1);
  opacity: .4;
  position: fixed; 
  inset: 0;
  z-index: 1000000;
}